<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<pre>
<h1 th:text="${name}"></h1>
</pre>

<!--BUTTONS-->
<form th:action="@{/next(test=${name})}" method="post">
  <input type="hidden" th:value="${name}">
  <button type="submit">Next</button>
</form>
<a th:href="@{/random}">
<button type="button">Random</button>
</a>
<!--BUTTONS-->

</body>
</html>


